@import '~bootstrap/scss/bootstrap';

/*Style adapted from w3*/
.loader-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  height: 120px;
  left: 46%;
  position: absolute;
  top: 40%;
  width: 120px;

  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form {
  #location {
    width: 40%;
  }
}

.bg-video {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  z-index: -10;
}

.weather-section {
  position: absolute;
  background-color: #f3f3f334;
  height: 100vh;
  top: 30%;
  width: 100vw;
  z-index: 1;
}
