@import '~bootstrap/scss/bootstrap';

/*Style adapted from w3*/
.loader-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  height: 120px;
  left: 46%;
  position: absolute;
  top: 40%;
  width: 120px;

  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form {
  padding-top: 2%;
  #location {
    width: 40%;
  }

  #submit-loc {
    background: transparent;
    border: #eee 2px solid;

    &:hover {
      background-color: #f3f3f354;
    }
  }

  input[type=text] {
    background: transparent;
    border: none;
    border-bottom: #000 2px solid;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
  }

  input, button#celsius, button#fahrenheit {
    box-shadow: none !important;
    outline: none;
  }
}

.bg-video {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.bg-video .weather-info {
  background-color: #f3f3f354;
  height: 100vh;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

#info-container {
  h4 {
    font-family: 'Odibee Sans';
    font-weight: bold;
    font-size: 30px;
  }
}

.sub-container {
  background-color: #fff3f3b3;
  border-radius: 10px;
  margin: 0px 10px;

  h5 {
    font-family: 'Sancreek';
  }

  .title {
    font-family: 'Odibee Sans';
  }

  .value {
    font-family: 'Almendra';
    font-size: 16px;
  }
}

.date-container {
  position: absolute;
  right: 2%;
  top: 35%;

  #date {
    font-family: 'Dorsa';
    font-weight: bold;
    font-size: 30px;
  }
}

.video-container {
  position: absolute;
  width: 100%;
}

@media (max-width: 767px){
  .bg-video {
    overflow-y: auto;
  }
}
